{% extends "timelines/base.html" %}

{% block title %}TPlot - Edit Timeline{% endblock %}

{% block content %}
    <h1>{% block timeline_type %}Timeline{% endblock %}</h1>

    <form action="update/" method="post">
        {% csrf_token %}
        Title:<br>
        <input name="title" value="{{ timeline.title }}">
        <br><br>
        Description:<br>
        <input name="description" value="{{ timeline.description }}">
        <br><br>
        <input type="submit" value="Update">
    </form>

    <div id="areas">
        <h2>Areas</h2>
        {% block area %}
        {% for area in timeline.timelinearea_set.all %}
            <li><a href="">{{ area }}</a></li>
        {% endfor %}
        {% endblock %}
    </div>

    <div id="tags">
        <h2>Tags</h2>
        {% block tags %}
        {% for tag in timeline.tag_set.all %}
            <li><a href="">{{ tag }}</a></li>
        {% endfor %}
        {% endblock %}
    </div>

    <div id="events">
        <h2>Events</h2>
        {% block events %}{% endblock %}
    </div>

{% endblock %}
