{% extends "timelines/base.html" %}

{% block title %}TPlot - Timeline Detail{% endblock %}

{% block content %}
<div class="container">
    <p class="h2">{% block timeline_type %}Timeline{% endblock %}: {{ object.title }}</p>
    <p>{{ object.description }}</p>

    <p class="h3">Events</p>
    <div class="list-group">
        {% block events %}
        {% for event in object.event_set.all %}
            <a class="list-group-item list-group-item-action" href="">{{ event }}</a>
        {% endfor %}
        {% endblock %}
    </div>


    <p class="h3">Tags</p>
    <div class="list-group">
        {% block tag_list %}
        {% for tag in object.tag_set.all %}
            <a class="list-group-item list-group-item-action" href="">{{ tag }}</a>
        {% endfor %}
        {% endblock %}
    </div>

    <p class="h3">Scale</p>
    <p>{{ object.get_scale_unit_display }} per {{ object.get_scale_length_display }}</p>

    <p class="h3">Page Setup</p>
    <p>Size: {{ object.get_page_size_display }}</p>
    <p>Orientation: {{ object.get_page_orientation_display }}</p>
    <p>Scale Position: {{ object.page_scale_position }}</p>
    <p class="h4">Areas</p>
    <div class="list-group">
        {% block area_list %}
        {% for area in object.timelinearea_set.all %}
            <a class="list-group-item list-group-item-action" href="">{{ area }}</a>
        {% endfor %}
        {% endblock %}
    </div>
</div>
{% endblock %}
