{% extends "timelines/base.html" %}

{% block title %}TPlot - Your Timelines{% endblock %}
{% block sidebar %}
<ul>
    <li><a href="{% url 'age_timelines:age-timeline-add' %}">New Age Timeline</a></li>
    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
    <h1>Your Timelines</h1>
    <h2>Age Timelines</h2>
    <ul>
    {% for age_timeline in age_timeline_list %}
        <li><a href="{% url 'age_timelines:age-timeline-detail' age_timeline.id %}">{{ age_timeline.title }}</a></li>
    {% endfor %}
    </ul>

    <h2>Date and Time Timelines</h2>


    <h2>Historical Timelines</h2>


    <h2>Scientific Timelines</h2>

{% endblock %}
