{% extends "timelines/confirm_delete.html" %}

{% block title %}Delete Scientific Timeline{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'scientific_timelines:timeline-detail' view.kwargs.pk %}">Scientific Timeline</a></li>
<li class="breadcrumb-item active">Delete</li>
{% endblock %}

{% block heading %}Scientific Timeline{% endblock %}

{% block description %}{{ object }}{% endblock %}
