{% extends 'user_guide/user_guide_base.html' %}

{% block title %}Getting started template{% endblock %}

{% block heading %}Getting started template{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'user_guide:getting-started-index' %}">Getting Started</a></li>
<li class="breadcrumb-item active">{% block active_breadcrumb %}Guide Name{% endblock active_breadcrumb %}</li>
{% endblock %}

{% block content %}

{% block guide %}

<div class="card mb-4">
    <div class="card-header">
        {% block introduction_heading %}<p class="h3">Introduction</p>{% endblock introduction_heading %}
    </div>
    <div class="card-body">
		{% block introduction_content %}
		{% endblock introduction_content %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <p class="h3">{% block timeline_heading %}Create a Timeline</p>{% endblock timeline_heading %}
    </div>
    <div class="card-body">
		{% block timeline_content %}
		{% endblock timeline_content %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        {% block event_area_heading %}<p class="h3">Add an Event Area</p>{% endblock event_area_heading %}
    </div>
    <div class="card-body">
		{% block event_area_content %}
		{% endblock event_area_content %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        {% block event_heading %}<p class="h3">Adding an Event</p>{% endblock event_heading %}
    </div>
    <div class="card-body">
		{% block event_content %}
		{% endblock event_content %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        {% block start_end_event_heading %}<p class="h3">Adding an Event with a start and end</p>{% endblock start_end_event_heading %}
    </div>
    <div class="card-body">
		{% block start_end_event_content %}
		{% endblock start_end_event_content %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        {% block view_pdf_heading %}<p class="h3">View Timeline PDF</p>{% endblock view_pdf_heading %}
    </div>
    <div class="card-body">
		{% block view_pdf_content %}
		{% endblock view_pdf_content %}
    </div>
</div>
{% endblock guide %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
	  <div class="modal-header">
	  <h5 class="modal-title" id="modalTitle">Image Modal</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">
		<img
		  id="modalImage"
		  src=""
		  alt="Image Modal"
		  style="width:100%;max-width:800px">
	  </div>
  </div>
  </div>
</div>

{% load static %}
<script src="{% static 'user_guide/js/show_image_modal.js' %}"></script>
{% endblock modal %}

{% endblock content %}
