{% extends 'user_guide/getting_started_base.html' %}

{% block title %}Getting started Age Timelines{% endblock %}

{% block heading %}Getting started with Age Timelines{% endblock %}

{% block active_breadcrumb %}Age Timeline{% endblock active_breadcrumb %}

{% block introduction_content %}
<p>
    In this guide we are going to walk through how to create an age timeline using TPlot.
    An age timeline is a timeline that has events ordered by age in years and months, for example “1 Year and 2 months Jane took her first steps” or “3 Years to 5 Years Company developed new product”.
</p>
<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863609/tplot/age/age_timeline_complete_ncgblv.jpg"
	alt="Image Modal"
	style="width:100%;max-width:1600px">
<p>The information we are going to use are the developmental milestones of a child.</p>
<table>
	<tr><th>Milestone</th></tr>
	<tr><td>At 1 month Emily started opening and closing her hands.</td></tr>
	<tr><td>At 2 months Emily started to put her hands in mouth.</td></tr>
	<tr><td>At 2 months we noticed Emily's first smile.</td></tr>
	<tr><td>At 3 months Emily looks at you when you talk to her.</td></tr>
	<tr><td>At 3 months Emily smiles when family and friends talk to her.</td></tr>
	<tr><td>At 4 months Emily can focus on her favorite soft toy.</td></tr>
	<tr><td>At 4 months Emily gets visibly excited when hearing Mum and Dad's voices.</td></tr>
	<tr><td>At 5 months Emily started putting objects in her mouth.</td></tr>
	<tr><td>Between 6 and 9 months Emily learned to sit unsupported for several minutes.</td></tr>
	<tr><td>At 8 months Emily starts enjoying giving and receiving hugs.</td></tr>
	<tr><td>Between 9 Months to 2 Years Emily's language develops from her first word to a vocabulary of around 50 words.</td></tr>
	<tr><td>At 11 months Emily started to respond to her name.</td></tr>
	<tr><td>At 1 Year 2 Months Emily started pointing to things she wanted.</td></tr>
	<tr><td>Between 1 Year and 1 Year 5 Months Emily learned to walk starting by using the sofa for support then progressed to walking unaided.</td></tr>
	<tr><td>At 1 Year and 8 months Emily can point to people and toys when asked.</td></tr>
</table>
{% endblock introduction_content %}

{% block timeline_content %}
<p>Make sure you have registered and are logged in.</p>
<p>
    From the user timelines page you'll see all the timelines you have created so far and the options to create new timelines.
    Select the new age timeline option from the side menu.
</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715809854/tplot/age/new_age_timeline_option_nreuby.jpg', 'New Age Timeline Option')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863609/tplot/age/new_age_timeline_option_small_hgmefw.jpg"
	alt="New Age Timeline Option"
	style="width:100%;max-width:200px">
</button>
<p>
    In the title box enter “Early years development.”
    A title is required, it is used to identify the timeline in TPlot and as a main heading on the PDF of the timeline.
    In the description box, enter “Emily Hunter's development years 0-2.”
    This optional description is used to add additional information about the timeline.
</p>
<p>
    There are two settings for the scale, these are scale unit and scale length.
    The scale unit determines how many years between each unit marked on the scale of the PDF timeline.
    The scale unit length determines the distance between these units.
    Set these to “1 year” and “20 cm” respectively.
    We are using 1 year every 20 cm as the scale because there are lots of events over a small range of years.
</p>
<p>
    There are three settings for page layout, these are page size, page orientation and scale position.
    Set these to “A4”, “Landscape” and 0 respectively.  Page size and orientation are self-explanatory.
    Scale position is used to position the scale on the PDF relative to the timeline’s event areas.
    Leaving it as 0 will ensure the scale is placed at the bottom of the page with all the events above it.
</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863610/tplot/age/new_age_timeline_form_nfw6ir.jpg', 'New Age Timeline Form')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863609/tplot/age/new_age_timeline_form_small_s7yx1u.jpg"
	alt="New Age Timeline Form"
	style="width:100%;max-width:200px">
</button>
<p>Select the add button to create the new timeline.</p>
<p>All these settings can be edited later or the timeline deleted by selecting the timeline settings option on from the side menu.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863612/tplot/age/edit_age_timeline_settings_s1ady2.jpg', 'Timeline Settings Option')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863610/tplot/age/edit_age_timeline_settings_small_soqlhw.jpg"
	alt="Timeline Settings Option"
	style="width:100%;max-width:200px">
</button>
{% endblock timeline_content %}

{% block event_area_content %}
<p>
    For any events to appear on the PDF of the timeline they need to be placed in an event area.
    Select the new event area option from the side bar.
</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863620/tplot/age/new_event_area_option_l9q4ca.jpg', 'New Event Area Option')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863611/tplot/age/new_event_area_option_small_cpiyxx.jpg"
	alt="New Event Area Option"
	style="width:100%;max-width:200px">
</button>
<p>
    Enter “Main” as the name, leave page position and weight as 0 and 1 respectively.
    This will create a single event area above the scale which will contain all our events.
</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863610/tplot/age/new_event_area_form_ypay30.jpg', 'New Event Aea Form')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863608/tplot/age/new_event_area_form_small_ovs4jg.jpg"
	alt="New Event Aea Form"
	style="width:100%;max-width:200px">
</button>
<p>Select the add button to create the new event area.</p>
<p>The new event area will be displayed in a list on age timeline page and can be edited or deleted by selecting it from the the list.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863611/tplot/age/edit_event_area_rujp88.jpg', 'Event area list')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863608/tplot/age/edit_event_area_small_dg3ent.jpg"
	alt="Event area list"
	style="width:100%;max-width:200px">
</button>
{% endblock event_area_content %}

{% block event_content %}
<p>Now we are ready to add our first Age Event, select the New Event option on the side menu.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863619/tplot/age/new_event_option_ejusng.jpg', 'New Event Option')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863610/tplot/age/new_event_option_small_fgykhz.jpg"
	alt="New Event Option"
	style="width:100%;max-width:200px">
</button>
<p>The 1st event in the table above is “At 1 month Emily started opening and closing her hands.”</p>
<p>In the title box enter "Started opening and closing her hands", leave the description box empty because we have no further information to add.</p>
<p>Set start year to 0 and start month to 1 to represent the age that this event occurred.</p>
<p>Leave has end, end year and end month alone because this event only has a start age.</p>
<p>Select "Main" from the list of available event areas.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863619/tplot/age/new_event_form_ic5zim.jpg', 'New Event Form')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863611/tplot/age/new_event_form_small_awznn0.jpg"
	alt="New Event Form"
	style="width:100%;max-width:200px">
</button>
<p>Select add to create the event.</p>
<p>The event area will be displayed in a list on age timeline page and can be edited or deleted by selecting it from the the list.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863612/tplot/age/edit_event_hewfkx.jpg', 'Event List')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863610/tplot/age/edit_event_small_peezpd.jpg"
	alt="Event List"
	style="width:100%;max-width:200px">
</button>
{% endblock event_content %}

{% block start_end_event_content %}
<p>Some of the events in the table above occur over a period of time, for example “Between 6 and 9 months Emily learned to sit unsupported for several minutes.”</p>
<p>These can be added using "has end", "end year" and "end month"</p>
<p>In the title box enter "Learned to sit unsupported for several minutes", leave the description box empty.</p>
<p>Set start year to 0 and start month to 6 to represent the age that this event started.</p>
<p>Tick the has end option so TPlot knows this event has a start and an end.</P>
<p>Set end year to 0 and end month to 9 to represent the age that this event end.</p>
<p>Select "Main" from the list of available event areas.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863619/tplot/age/new_start_end_event_form_ld7fed.jpg', 'New Event with start and end Form')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863611/tplot/age/new_start_end_event_form_small_j4dhz2.jpg"
	alt="New Event with start and end Form"
	style="width:100%;max-width:200px">
</button>
<p>Select add to create the event.</p>
{% endblock start_end_event_content %}

{% block view_pdf_content %}
<p>Select the view PDF option on the side menu.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863620/tplot/age/view_pdf_option_m3mp4a.jpg', 'PDF Option')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715809860/tplot/age/view_pdf_option_small_xo8umg.jpg"
	alt="PDF Option"
	style="width:100%;max-width:200px">
</button>
<p>Open the downloaded PDF to see your progress so far.  You should see a timeline with the two events you added.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863608/tplot/age/age_timeline_progress_fvxwap.jpg', 'In progress Age timeline')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863608/tplot/age/age_timeline_progress_small_wwpnnn.jpg"
	alt="In progress Age timeline"
	style="width:100%;max-width:200px">
</button>
<p>Continue to add the rest of the events to complete the timeline.</p>
<button type="button" class="btn" data-toggle="modal" data-target="#imageModal" onclick="ShowImageModal('https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863609/tplot/age/age_timeline_complete_ncgblv.jpg', 'Completed Age timeline')">
	<img src="https://res.cloudinary.com/dvkplmmwk/image/upload/v1715863608/tplot/age/age_timeline_complete_small_wuwmzq.jpg"
	alt="Completed Age timeline"
	style="width:100%;max-width:200px">
</button>
{% endblock view_pdf_content %}
