{% extends 'user_guide/user_guide_base.html' %}

{% block title %}Reference{% endblock %}

{% block heading %}Reference{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:home' %}">TPlot</a></li>
<li class="breadcrumb-item active">{% block active_breadcrumb %}Reference{% endblock active_breadcrumb %}</li>
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Index</p>
    </div>
    <div class="card-body">
    <p>Documentation explaining all TPlot's objects, values and settings.</P>
	<ul>
        <li><a href="{% url 'user_guide:reference-timelines' %}">Timelines</a></li>
        <li><a href="{% url 'user_guide:reference-events' %}">Events</a></li>
        <li><a href="{% url 'user_guide:reference-event-areas' %}">Event Areas</a></li>
        <li><a href="{% url 'user_guide:reference-tags' %}">Tags</a></li>
        <li>
            Timeline Types
            <ul>
                <li><a href="{% url 'user_guide:reference-age' %}">Age Timelines</a></li>
                <li><a href="{% url 'user_guide:reference-date-time' %}">Date &amp Time Timelines</a></li>
                <li><a href="{% url 'user_guide:reference-historical' %}">Historical Timelines</a></li>
                <li><a href="{% url 'user_guide:reference-scientific' %}">Scientific Timelines</a></li>
            </ul>
        </li>
	</ul>
    </div>
</div>
{% endblock content %}
