{% extends 'user_guide/user_guide_base.html' %}

{% block title %}Historical Timeline Reference{% endblock %}

{% block heading %}Historical Timeline Reference{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:home' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'user_guide:reference-index' %}">Reference</a></li>
<li class="breadcrumb-item active">Historical Timelines</li>
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Introduction</p>
    </div>
    <div class="card-body">
        <p>
            Historical timelines use events ordered by years BC to AD.
            These are yet to implemented in TPlot
        </P>
    </div>
</div>
{% endblock content %}
