{% extends 'user_guide/user_guide_base.html' %}

{% block title %}Tag Reference{% endblock %}

{% block heading %}Tag Reference{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:home' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'user_guide:reference-index' %}">Reference</a></li>
<li class="breadcrumb-item active">Tags</li>
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Introduction</p>
    </div>
    <div class="card-body">
        <p>
            Tags are used to assign user defined categories to events.
            Multiple tags can be added to a timeline then each event can be assigned multiple tags.
        </P>
    </div>
</div>

<div id="card_name" class="card mb-4">
    <div class="card-header">
        <p class="h3">Name</p>
    </div>
    <div class="card-body">
        <p>A name which is used to identify the event area in TPlot.</p>
    </div>
</div>
{% endblock content %}
