{% extends "timelines/collaborator_edit.html"  %}

{% block timeline_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'historical_timelines:timeline-detail' view.kwargs.historical_timeline_id %}">{{historical_timeline}}</a></li>
{% endblock timeline_breadcrumb %}

{% block collaborators_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'historical_timelines:collaborators' view.kwargs.historical_timeline_id %}">Collaborators</a></li>
{% endblock collaborators_breadcrumb %}

{% block side_menu_delete_option %}
<li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:collaborator-delete' view.kwargs.historical_timeline_id collaborator.id %}">Delete</a></li>
{% endblock side_menu_delete_option %}
