{% extends "timelines/confirm_delete.html" %}

{% block title %}Delete Historical Event{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'historical_timelines:timeline-detail' view.kwargs.historical_timeline_id %}">{{object.timeline}}</a></li>
<li class="breadcrumb-item active">Delete Event</li>
{% endblock %}

{% block heading %}Delete Historical Event{% endblock %}

{% block description %}{{ object.title }}{% endblock %}
