{% extends 'timelines/form_base_file_upload.html' %}

{% block title %}New Historical Event{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'historical_timelines:timeline-detail' view.kwargs.historical_timeline_id %}">{{historical_timeline}}</a></li>
<li class="breadcrumb-item active">Add Event</li>
{% endblock %}

{% block heading %}New Historical Event{% endblock %}

{% block button_name %}Add{% endblock %}

{% block scripts %}

{% load static %}
<script src="{% static 'js/historical/toggle_end_unit.js' %}"></script>

{% endblock scripts %}
