{% extends "timelines/tag_edit_form.html"  %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'historical_timelines:timeline-detail' view.kwargs.historical_timeline_id %}">Historical Timeline</a></li>
<li class="breadcrumb-item active">Edit Tag</li>
{% endblock %}

{% block side_menu_timeline_options %}
<div class="sb-sidenav-menu-heading">Options</div>
<li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:tag-delete' view.kwargs.historical_timeline_id view.kwargs.pk %}">Delete</a></li>
{% endblock %}
