{% extends 'timelines/form_base.html' %}

{% block title %}Historical Timeline Settings{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'historical_timelines:timeline-detail' view.kwargs.pk %}">{{object}}</a></li>
<li class="breadcrumb-item active">Settings</li>
{% endblock %}

{% block side_menu_timeline_options %}
{% if user_role >= 4 %}
    <div class="sb-sidenav-menu-heading">Options</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:timeline-delete' view.kwargs.pk %}">Delete</a></li>
{% endif %}
{% endblock %}

{% block heading %}Historical Timeline Settings{% endblock %}

{% block button_name %}Update{% endblock %}
