{% extends "timelines/timeline_detail.html" %}

{% block title %}Historical Timeline Detail{% endblock %}

{% block heading %}Historical Timeline{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
    <li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
    <li class="breadcrumb-item active">{{object}}</li>
{% endblock %}

{% block side_menu_timeline_options %}
{% if user_role >= 2 %}
    <div class="sb-sidenav-menu-heading">Options</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:event-add' view.kwargs.pk %}">New Event</a></li>
{% endif %}

{% if user_role >= 3 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:event-area-add' view.kwargs.pk %}">New Event Area</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:tag-add' view.kwargs.pk %}">New Tag</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:timeline-update' view.kwargs.pk %}">Timeline Settings</a></li>
{% endif %}

{% if user_role >= 4 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:collaborators' view.kwargs.pk %}">Collaborators</a></li>
{% endif %}

{% if user_role >= 1 %}
    <div class="sb-sidenav-menu-heading">View</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:landscape_timeline' view.kwargs.pk %}">Landscape</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:portrait_timeline' view.kwargs.pk %}">Portrait</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'historical_timelines:timeline-pdf' view.kwargs.pk %}">PDF</a></li>
{% endif %}

{% endblock side_menu_timeline_options %}

{% block event_table_head_unit %}Year{% endblock %}

{% block event_table_foot_unit %}Year{% endblock %}

{% block events %}
{% for historical_event in object.historicalevent_set.all %}
    {% if user_role >= 2 %}
        <tr>
            <td><a class="list-group-item list-group-item-action" href="{% url 'historical_timelines:event-update' view.kwargs.pk historical_event.id %}">{{ historical_event.time_unit_description }}</a></td>
            <td><a class="list-group-item list-group-item-action" href="{% url 'historical_timelines:event-update' view.kwargs.pk historical_event.id %}">{{ historical_event.title }}</a></td>
            <td><a class="list-group-item list-group-item-action" href="{% url 'historical_timelines:event-update' view.kwargs.pk historical_event.id %}">{{ historical_event.event_ptr.event_area }}</a></td>
        </tr>
    {% else %}
        <tr>
            <td>{{ historical_event.time_unit_description }}</td>
            <td>{{ historical_event.title }}</td>
            <td>{{ historical_event.event_ptr.event_area }}</td>
        </tr>
    {% endif %}
{% endfor %}
{% endblock %}

{% block tag_list %}
{% for tag in object.tag_set.all %}
    {% if user_role >= 3 %}
        <a class="list-group-item list-group-item-action" href="{% url 'historical_timelines:tag-update' view.kwargs.pk tag.id %}">{{ tag }}</a>
    {% else %}
        <p>{{ tag }}</p>
    {% endif %}
{% endfor %}
{% endblock %}

{% block area_list %}
{% for area in object.eventarea_set.all %}
    {% if user_role >= 3 %}
        <a class="list-group-item list-group-item-action" href="{% url 'historical_timelines:event-area-update' view.kwargs.pk area.id %}">{{ area }}</a>
    {% else %}
        <p>{{ area }}</p>
    {% endif %}
{% endfor %}
{% endblock %}
