{% extends "timelines/timeline.html" %}

{% block title %}Historical Timeline View{% endblock title%}

{% block heading %}Historical Timeline View{% endblock heading %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
    <li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
    <li class="breadcrumb-item"><a href="{% url 'historical_timelines:timeline-detail' view.kwargs.pk %}">Historical Timeline</a></li>
	<li class="breadcrumb-item active">Timeline View</li>
{% endblock breadcrumbs %}

{% block events %}

{% for historical_event in object.historicalevent_set.all %}
	<div class="container {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}">
		<div class="content">
			<h3>{{ historical_event.time_unit_description }}</h3>
			<h4>{{ historical_event.title }}</h4>
			<p>{{ historical_event.description }}</p>
		</div>
	</div>
{% endfor %}

{% endblock events%}
