{% extends "accounts/accounts_base.html" %}
{% block title %}Change Password{% endblock %}
{% block heading %}Change Password{% endblock %}
{% block active_breadcrumb %}Change Password{% endblock active_breadcrumb %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>
    </div>
{% endblock %}
