{% extends "accounts/accounts_base.html" %}

{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}
{% block heading %}Reset Password{% endblock %}
{% block active_breadcrumb %}Reset Password{% endblock active_breadcrumb %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <p>Request reset email.</p>
            <form method="POST"> {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}
