{% extends "user_guide/user_guide_base.html" %}

{% load crispy_forms_tags %}

{% block title %}TPlot - Register{% endblock %}

{% block heading %}Register{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item active">Register</li>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST"> {% csrf_token %}
                {{ register_form|crispy }}
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red;">{{ message }}</p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p>If you already have an account, <a href="{% url 'accounts:login' %}">login</a> instead.</p>
        </div>
    </div>
{% endblock %}
