{% extends "timelines/confirm_delete.html" %}
{% block title %}TPlot - Delete Age Event{% endblock %}
{% block nav_links %}
    <li class="nav-item"><a class="nav-link link-light" href="{% url 'timelines:user-timelines' %}">User Timelines</a></li>
    <li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-timeline-detail' view.kwargs.age_timeline_id %}">Timeline</a></li>
    <li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-event-update' view.kwargs.age_timeline_id view.kwargs.pk %}">Age Event</a></li>
{% endblock %}
{% block heading %}Delete Age Event{% endblock %}
{% block description %}{{ object.title }}{% endblock %}
