{% extends 'timelines/form_base.html' %}

{% load static %}

{% block title %}TPlot - Edit Age Event{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'age_timelines:age-timeline-detail' view.kwargs.age_timeline_id %}">Age Timeline</a></li>
<li class="breadcrumb-item active">Edit Age Event</li>
{% endblock %}

{% block side_menu_timeline_options %}
<div class="sb-sidenav-menu-heading">Options</div>
<li class="nav-item"><a class="nav-link" href="{% url 'age_timelines:age-event-delete' view.kwargs.age_timeline_id view.kwargs.pk %}">Delete</a></li>
{% endblock %}

{% block heading %}Edit Age Event{% endblock %}

{% block button_name %}Update{% endblock %}

{% block scripts %}

{% load static %}
<script src="{% static 'js/age/toggle_end_unit.js' %}"></script>

{% endblock scripts %}
