{% extends 'timelines/form_base.html' %}

{% block title %}TPlot - New Age Event{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'age_timelines:age-timeline-detail' view.kwargs.age_timeline_id %}">{{age_timeline}}</a></li>
<li class="breadcrumb-item active">Add Age Event</li>
{% endblock %}

{% block heading %}New Age Event{% endblock %}

{% block button_name %}Add{% endblock %}

{% block scripts %}

{% load static %}
<script src="{% static 'js/age/toggle_end_unit.js' %}"></script>

{% endblock scripts %}
