{% extends 'timelines/form_base.html' %}

{% block title %}TPlot - Age Timeline Settings{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'age_timelines:age-timeline-detail' view.kwargs.pk %}">{{object.title}}</a></li>
<li class="breadcrumb-item active">Settings</li>
{% endblock %}

{% block side_menu_timeline_options %}
<div class="sb-sidenav-menu-heading">Options</div>
<li class="nav-item"><a class="nav-link" href="{% url 'age_timelines:age-timeline-delete' view.kwargs.pk %}">Delete</a></li>
{% endblock %}

{% block heading %}Age Timeline Settings{% endblock %}

{% block button_name %}Update{% endblock %}
