{% extends 'timelines/form_base.html' %}
{% block title %}TPlot - Delete{% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <p class="h2">{% block heading %}Delete{% endblock %}</p>
    </div>
    <div class="card-body">
        <form method="post" class="post-form">{% csrf_token %}
            {% block confirmation_message %}
            <p>Are you sure you want to delete {% block description %}{{ object }}{% endblock description %}?</p>
            {% endblock confirmation_message %}
            <button type="submit" class="btn btn-primary">{% block button_name %}Confirm{% endblock %}</button>
        </form>
    </div>
</div>
{% endblock %}
