{% extends "user_guide/user_guide_base.html" %}

{% block title %}TPlot - Timeline Detail{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <p class="h2">{{ object.title }}</p>
    </div>
    <div class="card-body">
        <p>{{ object.description }}</p>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Events</p>
    </div>
    <div class="card-body">
        <div class="list-group">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>{% block event_table_head_unit %}Time{% endblock %}</th>
                        <th>Title</th>
                        <th>Event Area</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>{% block event_table_foot_unit %}Time{% endblock %}</th>
                        <th>Title</th>
                        <th>Event Area</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% block events %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Scale</p>
    </div>
    <div class="card-body">
        <p>{{ object.get_scale_unit_display }} per {{ object.get_scale_unit_length_display }}</p>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Page Setup</p>
    </div>
    <div class="card-body">
        <p>Orientation: {{ object.get_page_orientation_display }}</p>
        <p>Scale Position: {{ object.page_scale_position }}</p>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <p class="h4">Event Areas</p>

    </div>
    <div class="card-body">
        <div class="list-group">
            {% block area_list %}
            {% for area in object.eventarea_set.all %}
                <a class="list-group-item list-group-item-action" href="">{{ area }}</a>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <p class="h3">Tags</p>
    </div>
    <div class="card-body">
        <div class="list-group">
            {% block tag_list %}
            {% for tag in object.tag_set.all %}
                <a class="list-group-item list-group-item-action" href="">{{ tag }}</a>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
