{% extends "timelines/base.html" %}

{% block title %}TPlot - Your Timelines{% endblock %}

{% block nav_links %}
<li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-timeline-add' %}">New Age Timeline</a></li>
<li class="nav-item"><a class="nav-link link-light" href="{% url 'accounts:logout' %}">Logout</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <p class="h2">Your Timelines!</p>

    <p class="h3">Age Timelines</p>
    <div class="list-group">
    {% for age_timeline in age_timeline_list %}
        <a class="list-group-item list-group-item-action" href="{% url 'age_timelines:age-timeline-detail' age_timeline.id %}">{{ age_timeline.title }}</a>
    {% endfor %}
    </div>

    <p class="h3">Date and Time Timelines</p>

    <p class="h3">Historical Timelines</p>

    <p class="h3">Scientific Timelines</p>

</div>
{% endblock %}
