{% extends 'timelines/form_base.html' %}

{% block title %}TPlot - Edit Date & Time Event{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'date_time_timelines:date-time-timeline-detail' view.kwargs.date_time_timeline_id %}">Date & Time Timeline</a></li>
<li class="breadcrumb-item active">Edit Date & Time Event</li>
{% endblock %}

{% block side_menu_timeline_options %}
<div class="sb-sidenav-menu-heading">Options</div>
<li class="nav-item"><a class="nav-link" href="{% url 'date_time_timelines:date-time-event-delete' view.kwargs.date_time_timeline_id view.kwargs.pk %}">Delete</a></li>
{% endblock %}

{% block heading %}Edit Date & Time Event{% endblock %}

{% block button_name %}Update{% endblock %}

{% block scripts %}

{% load static %}
<script src="{% static 'js/date_time/toggle_end_unit.js' %}"></script>

{% endblock scripts %}
