{% extends 'timelines/form_base.html' %}

{% block title %}TPlot - New Date & Time Event{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item"><a href="{% url 'date_time_timelines:date-time-timeline-detail' view.kwargs.date_time_timeline_id %}">{{date_time_timeline}}</a></li>
<li class="breadcrumb-item active">Add Date & Time Event</li>
{% endblock %}

{% block heading %}New Date & Time Event{% endblock %}

{% block button_name %}Add{% endblock %}

{% block scripts %}

{% load static %}
<script src="{% static 'js/date_time/toggle_end_unit.js' %}"></script>

{% endblock scripts %}
