{% extends "timelines/timeline_detail.html" %}

{% block title %}TPlot - Date & Time Timeline Detail{% endblock %}

{% block heading %}Date & Time Timeline{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'user_guide:introduction' %}">TPlot</a></li>
<li class="breadcrumb-item"><a href="{% url 'timelines:user-timelines' %}">Timelines</a></li>
<li class="breadcrumb-item active">Date & Time Timeline</li>
{% endblock %}

{% block side_menu_timeline_options %}
<div class="sb-sidenav-menu-heading">Options</div>
<li class="nav-item"><a class="nav-link" href="{% url 'date_time_timelines:date-time-timeline-update' view.kwargs.pk %}">Timeline Settings</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'date_time_timelines:date-time-event-add' view.kwargs.pk %}">New Event</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'date_time_timelines:event-area-add' view.kwargs.pk %}">New Event Area</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'date_time_timelines:tag-add' view.kwargs.pk %}">New Tag</a></li>
<div class="sb-sidenav-menu-heading">View</div>
<li class="nav-item"><a class="nav-link" href="{% url 'date_time_timelines:date-time-timeline-pdf' view.kwargs.pk %}">PDF</a></li>
{% endblock %}

{% block event_table_head_unit %}Date & Time{% endblock %}

{% block event_table_foot_unit %}Date & Time{% endblock %}

{% block events %}
{% for date_time_event in related_events %}
    <tr>
        <td><a class="list-group-item list-group-item-action" href="{% url 'date_time_timelines:date-time-event-update' view.kwargs.pk date_time_event.id %}">{{ date_time_event.date_time_description }}</a></td>
        <td><a class="list-group-item list-group-item-action" href="{% url 'date_time_timelines:date-time-event-update' view.kwargs.pk date_time_event.id %}">{{ date_time_event.title }}</a></td>
        <td><a class="list-group-item list-group-item-action" href="{% url 'date_time_timelines:date-time-event-update' view.kwargs.pk date_time_event.id %}">{{ date_time_event.event_ptr.event_area }}</a></td>
    </tr>
{% endfor %}
{% endblock %}

{% block tag_list %}
{% for tag in object.tag_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'date_time_timelines:tag-update' view.kwargs.pk tag.id %}">{{ tag }}</a>
{% endfor %}
{% endblock %}

{% block area_list %}
{% for area in object.eventarea_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'date_time_timelines:event-area-update' view.kwargs.pk area.id %}">{{ area }}</a>
{% endfor %}
{% endblock %}
