{% extends "timelines/timeline_detail.html" %}

{% block title %}TPlot - Age Timeline Detail{% endblock %}

{% block timeline_type %}Age Timeline{% endblock %}

{% block nav_links %}
<li class="nav-item"><a class="nav-link link-light" href="{% url 'timelines:user-timelines' %}">User Timelines</a></li>
<li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-timeline-update' view.kwargs.pk %}">Edit Age Timeline</a></li>
<li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-event-add' view.kwargs.pk %}">New Age Event</a></li>
<li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:tag-add' view.kwargs.pk %}">New Tag</a></li>
<li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:area-add' view.kwargs.pk %}">New Area</a></li>
{% endblock %}

{% block events %}
{% for age_event in object.ageevent_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'age_timelines:age-event-update' view.kwargs.pk age_event.id %}">{{ age_event }}</a>
{% endfor %}
{% endblock %}

{% block tag_list %}
{% for tag in object.tag_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'age_timelines:tag-update' view.kwargs.pk tag.id %}">{{ tag }}</a>
{% endfor %}
{% endblock %}

 {% block area_list %}
 {% for area in object.eventarea_set.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'age_timelines:area-update' view.kwargs.pk area.id %}">{{ area }}</a>
 {% endfor %}
 {% endblock %}
