{% extends 'timelines/form_base.html' %}
{% block title %}TPlot - Edit Age Event{% endblock %}
{% block nav_links %}
    <li class="nav-item"><a class="nav-link link-light" href="{% url 'timelines:user-timelines' %}">User Timelines</a></li>
    <li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-timeline-detail' view.kwargs.age_timeline_id %}">Timeline</a></li>
    <li class="nav-item"><a class="nav-link link-light" href="{% url 'age_timelines:age-event-delete' view.kwargs.age_timeline_id view.kwargs.pk %}">Delete</a></li>
{% endblock %}
{% block heading %}Edit Age Event{% endblock %}
{% block button_name %}Update{% endblock %}
