{% extends "timelines/form_base.html" %}

{% block title %}TPlot - Edit Age Timeline{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'timelines:user-timelines' %}">User Home</a></li>
    <li><a href="{% url 'age_timelines:age-timeline-detail' view.kwargs.pk %}">Timeline</a></li>
    <li><a href="{% url 'age_timelines:age-timeline-delete' view.kwargs.pk %}">Delete</a></li>
</ul>
{% endblock %}

{% block heading %}Edit Age Timeline{% endblock %}

{% block button_name %}Update{% endblock %}
