{% extends 'timelines/base.html' %}

{% block title %}TPlot - New Age Event{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'timelines:user-timelines' %}">User Home</a></li>
    <li><a href="{% url 'age_timelines:age-timeline-detail' view.kwargs.age_timeline_id %}">Timeline</a></li>
</ul>
{% endblock %}

{% block content %}
    <h2>Age Age Event</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Add">Add</button>
    </form>
{% endblock %}
